
  <div class="card" style="width: 45rem;">
    <img src="{{user.avatar_url}}" class="card-img-top" alt="avatar image">
    <div class="card-body">
      <h5 class="card-title">username: {{user.name}}</h5>
      <p class="card-text">followers:  {{user.followers}}</p>
      <p class="card-text">following: {{user.following}}</p>
      <p class="card-text">repos: {{user.public_repos}}</p>
      <p class="card-text"> created: {{user.created_at|date}}</p>
      <a href="{{user.url}}" class="btn btn-primary">Go to github profile</a>
    </div>
  </div>