<div class="row mt100" *ngIf="showInput">
	
	<div class="col-md-8 git-form">
		<h1 ></h1>
		
		<form (ngSubmit)='submitUsername()' #gitForm='ngForm' name="repoForm">
			<div class="row">
				
				<div class="col-md-6">
					<input type="text" class="form-control input" id="username" [(ngModel)]="username" name="username" autocomplete="off" placeholder="Github Username"> <br>
					<button type="submit" class="btn ">Search  User & Repos</button>
				</div>
				
			</div>
		</form>
	</div>
		
</div>

